<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>insertlink</key>
	<dict>
		<key>FAQ</key>
		<dict>
			<key>Message</key>
			<string>http://www.codeux.com/textual/help/Frequently-Asked-Questions.kb</string>
		</dict>
		<key>Current Preview Link</key>
		<dict>
			<key>Message</key>
			<string>https://rink.hockeyapp.net/apps/93d6d315ace023a30793e8c52a02f920</string>
		</dict>
		<key>Newsletter</key>
		<dict>
			<key>Message</key>
			<string>http://t.co/fEMllsk</string>
		</dict>
		<key>Migrate Preferences</key>
		<dict>
			<key>Message</key>
			<string>http://www.codeux.com/textual/help/Migrating-Preferences.kb</string>
		</dict>
		<key>New item - 5</key>
		<dict>
			<key>Message</key>
			<string>http://www.codeux.com/textual/downloads/migrationAssistant.download</string>
		</dict>
	</dict>
	<key>userlist</key>
	<dict>
		<key>FAQ</key>
		<dict>
			<key>Message</key>
			<string>please refer to our frequently asked questions (FAQ) by following this link: http://www.codeux.com/textual/help/Frequently-Asked-Questions.kb</string>
		</dict>
		<key>Textual Timeout</key>
		<dict>
			<key>Message</key>
			<string>if you keep receiving disconnects due to a timeout in Textual, then chances are good that there is an intermediate connection issue between you and the IRC network being connected to. For more information see: http://is.gd/xKPIdV</string>
		</dict>
		<key>SASL</key>
		<dict>
			<key>Message</key>
			<string>Textual automatically attempts SASL PLAIN authentication on servers that support it. See this link for more information: http://is.gd/7LY1GH</string>
		</dict>
		<key>Yosemite</key>
		<dict>
			<key>Message</key>
			<string>Textual 4 does not support OS X Yosemite. You will need to buy Textual 5 available here: http://www.codeux.com/textual/  For questions regarding the upgrade see this link: http://is.gd/QLNYoP</string>
		</dict>
		<key>OTR Query Issue</key>
		<dict>
			<key>Message</key>
			<string>this is caused by OTR encrypted messaging being enabled in Textual, you can disable it by following these steps https://www.codeux.com/textual/help/Off-the-Record-Messaging.kb#faq-entry-10</string>
		</dict>
		<key>New Default Proxy</key>
		<dict>
			<key>Message</key>
			<string>to mimic the behavior of other applications, such as Safari, Textual automatically uses the SOCKS proxy configured in the Network section of System Preferences when enabled. This behavior can be changed under the “Proxy Server” section of Server Properties.</string>
		</dict>
		<key>seperator1</key>
		<string>seperator</string>
		<key>Migrate Preferences</key>
		<dict>
			<key>Message</key>
			<string>see this link to learn how to import and export your Textual preferences: http://is.gd/hUp15p</string>
		</dict>
		<key>Migrate Preferences (4 to 5)</key>
		<dict>
			<key>Message</key>
			<string>Textual 5 is a seperate application from Textual 4 and cannot read your old preferences, however If you are running Textual 4.1.8, then migration of preferences has already happened on your behalf. Otherwise you may download our Migration Assistant from this location: http://is.gd/BdkjdC. If you wish to log to text file you need to set the directory again as this setting is not possible to migrate.</string>
		</dict>
		<key>Customise Shortcuts</key>
		<dict>
			<key>Message</key>
			<string>see this link to learn how to add a new, or override an existing keyboard shortcut in Textual: http://is.gd/jhKlVY</string>
		</dict>
		<key>Writing Plugins</key>
		<dict>
			<key>Message</key>
			<string>see this link for information on how to write Objective-C or Swift plug-ins for Textual: http://www.codeux.com/textual/help/Writing-Plugins.kb</string>
		</dict>
		<key>Writing Scripts</key>
		<dict>
			<key>Message</key>
			<string>see this link for information on how to write scripts for Textual: http://www.codeux.com/textual/help/Writing-Scripts.kb</string>
		</dict>
		<key>Creating Styles</key>
		<dict>
			<key>Message</key>
			<string>see this link for information on how to create and edit styles for Textual: http://www.codeux.com/textual/help/Styles.kb</string>
		</dict>
		<key>New item - 14</key>
		<string></string>
		<key>Command Reference</key>
		<dict>
			<key>Message</key>
			<string>here is a list of commands that are built into the Textual IRC Client: http://is.gd/aLLdvC</string>
		</dict>
		<key>Keyboard Shortcuts</key>
		<dict>
			<key>Message</key>
			<string>here is a list of keyboard shortcuts that are built into the Textual IRC Client: http://is.gd/jhKlVY</string>
		</dict>
		<key>seperator2</key>
		<string>seperator</string>
		<key>Newsletter</key>
		<dict>
			<key>Message</key>
			<string>you can sign up to the Textual newsletter to get pre-release copies of Textual at http://is.gd/urItDO</string>
		</dict>
	</dict>
</dict>
</plist>
